@charset "ISO-8859-1";
body {
    background-color: #c6e2ff;
}

h1 {
    color: #430080;
    margin-left: 20px;
}

h2 {
	color: #191996;
}

img {
    border: 1px solid black;
    border-radius: 60%;
    padding: 10px;
    width: 160px;
}